					<!-- widget categories -->
					<div class="widget-container widget-categories boxed">
						<div class="inner">
                            <ul>
                                <li><a href="#" hidefocus="true" style="outline: currentcolor none medium;"><i 
class="ico-cat"></i><span>Awesome Ideas</span></a></li>
                                <li><a href="#" hidefocus="true" style="outline: currentcolor none medium;"><i class="ico-cat 
ico-cat2"></i><span>TV Shows</span></a></li>
                                <li><a href="#" hidefocus="true" style="outline: currentcolor none medium;"><i class="ico-cat 
ico-cat3"></i><span>Around the World</span></a></li>
                                <li class="current-menu-item"><a href="#" hidefocus="true" style="outline: currentcolor none medium;"><i 
class="ico-cat ico-cat4"></i><span>Gaming</span></a></li>
                                <li><a href="#" hidefocus="true" style="outline: currentcolor none medium;"><i class="ico-cat 
ico-cat5"></i><span>Photography</span></a></li>
                                <li><a href="#" hidefocus="true" style="outline: currentcolor none medium;"><i class="ico-cat 
ico-cat6"></i><span>Graphic Design</span></a></li>
							</ul>
						</div>
					</div>
					<!--/widget categories-->
					<!-- latest stories -->
					<div class="widget-container widget-recent-stories boxed border-top pink">
						<div class="inner">
							<h3 class="widget-title">Latest Stories</h3>
							<ul>
								<li class="clearfix">
									<a href="#" class="widget-thumb" hidefocus="true" style="outline: 
currentcolor none medium;"><img src="images/temp/thumb-1.jpg" alt=""></a>
									<a href="#" class="post-title" hidefocus="true" style="outline: 
currentcolor none medium;">UP fan takes to the skies in a house by tying hundreds of balloons to it just like</a>
								</li>
								<li class="clearfix">
									<a href="#" class="widget-thumb" hidefocus="true" style="outline: 
currentcolor none medium;"><img src="images/temp/thumb-2.jpg" alt=""></a>
									<a href="#" class="post-title" hidefocus="true" style="outline: 
currentcolor none medium;">Working in paradise is just murder! Ben Miller is on the case in glorious</a>
								</li>
								<li class="clearfix">
									<a href="#" class="widget-thumb" hidefocus="true" style="outline: 
currentcolor none medium;"><img src="images/temp/thumb-3.jpg" alt=""></a>
									<a href="#" class="post-title" hidefocus="true" style="outline: 
currentcolor none medium;">Mancini red rage! Kompany facing ban for 'nothing' fumes City manager but</a>
								</li>
								<li class="clearfix">
									<a href="#" class="widget-thumb" hidefocus="true" style="outline: 
currentcolor none medium;"><img src="images/temp/thumb-4.jpg" alt=""></a>
									<a href="#" class="post-title" hidefocus="true" style="outline: 
currentcolor none medium;">Adebayor set for Africa Cup of Nations as Togo chief overrules decision to leave</a>
								</li>
							</ul>
						</div>
					</div>
					<!--/latest stories -->
					<!-- latest comments-->
					<div class="widget-container widget-recent-comments boxed border-top pink">
						<div class="inner">
							<h3 class="widget-title">Latest Comments</h3>
							<ul id="recentcomments">
								<li class="recentcomments clearfix">
									<a href="#" class="widget-thumb" hidefocus="true" style="outline: 
currentcolor none medium;"><img src="images/temp/thumb-5.jpg" alt=""></a>
									<span class="recent_comment"><a href="#" rel="external nofollow" 
hidefocus="true" style="outline: currentcolor none medium;">Jonatan Doe: </a>UP fan takes to the skies in a house by tying hundreds of 
balloons</span>
								</li>
								<li class="recentcomments clearfix">
									<a href="#" class="widget-thumb" hidefocus="true" style="outline: 
currentcolor none medium;"><img src="images/temp/thumb-6.jpg" alt=""></a>
									<span class="recent_comment"><a href="#" rel="external nofollow" 
hidefocus="true" style="outline: currentcolor none medium;">DimiB: </a>Working in paradise is just murder! Ben Miller is on the case in 
glorious</span>
								</li>
								<li class="recentcomments clearfix">
									<a href="#" class="widget-thumb" hidefocus="true" style="outline: 
currentcolor none medium;"><img src="images/temp/thumb-7.jpg" alt=""></a>
									<span class="recent_comment"><a href="#" rel="external nofollow" 
hidefocus="true" style="outline: currentcolor none medium;">Alex Luncasu: </a>Mancini red rage! Kompany facing ban for 'nothing' fumes 
City</span>
								</li>
								<li class="recentcomments clearfix">
									<a href="#" class="widget-thumb" hidefocus="true" style="outline: 
currentcolor none medium;"><img src="images/temp/thumb-8.jpg" alt=""></a>
									<span class="recent_comment"><a href="#" rel="external nofollow" 
hidefocus="true" style="outline: currentcolor none medium;">BogdanC: </a>Adebayor set for Africa Cup of Nations as Togo chief overrules 
deci</span>
								</li>
							</ul>
						</div>
					</div>
					<!-- latest comments-->
					<!-- widget tags-->
					<div class="widget-container widget-tags boxed border-top pink">
						<div class="inner">
							<h3 class="widget-title">Tags</h3>
							<div class="tagcloud">
								<a href="#" title="2 topics" hidefocus="true" style="outline: currentcolor 
none medium;"><span>Design</span></a>
								<a href="#" title="3 topics" hidefocus="true" style="outline: currentcolor 
none medium;"><span>Fashion Culture</span></a>
								<a href="#" title="5 topics" hidefocus="true" style="outline: currentcolor 
none medium;"><span>Cinema</span></a>
								<a href="#" title="8 topics" hidefocus="true" style="outline: currentcolor 
none medium;"><span>Photography</span></a>
								<a href="#" title="9 topics" hidefocus="true" style="outline: currentcolor 
none medium;"><span>Graphic Design</span></a>
								<a href="#" title="3 topics" hidefocus="true" style="outline: currentcolor 
none medium;"><span>Gaming</span></a>
								<a href="#" title="8 topics" hidefocus="true" style="outline: currentcolor 
none medium;"><span>TV Show</span></a>
								<a href="#" title="9 topics" hidefocus="true" style="outline: currentcolor 
none medium;"><span>Awesome ideas</span></a>
							</div>
						</div>
					</div>
					<!--/ widget tags-->
					<!-- widget text-->
					<div class="widget-container widget-text boxed border-top pink">
						<div class="inner">
							<h3 class="widget-title">Text widget</h3>
							<div class="textwidget">
								<p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur 
vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad 
litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis 
in faucibus orci luctus et ultrices posuere.</p>
							</div>
						</div>
					</div>
					<!-- /widget text-->
					<!-- widget calendar-->
					<div class="widget-container widget-calendar boxed stripes">
						<div class="inner">
							<input type="text" name="date_departure" class="inputField" value="" 
id="date_departure" hidefocus="true" style="outline: currentcolor none medium; display: none;"><div class="calendar hasDatepicker" 
id="dp1566811365181"><div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" 
style="display: block;"><div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all"><a class="ui-datepicker-prev 
ui-corner-all ui-state-disabled" title="Prev"><span class="ui-icon ui-icon-circle-triangle-w">Prev</span></a><a class="ui-datepicker-next 
ui-corner-all" data-handler="next" data-event="click" title="Next"><span class="ui-icon ui-icon-circle-triangle-e">Next</span></a><div 
class="ui-datepicker-title"><span class="ui-datepicker-month">August</span>&nbsp;<span 
class="ui-datepicker-year">2019</span></div></div><table class="ui-datepicker-calendar"><thead><tr><th><span 
title="Monday">Mo</span></th><th><span title="Tuesday">Tu</span></th><th><span title="Wednesday">We</span></th><th><span 
title="Thursday">Th</span></th><th><span title="Friday">Fr</span></th><th class="ui-datepicker-week-end"><span 
title="Saturday">Sa</span></th><th class="ui-datepicker-week-end"><span title="Sunday">Su</span></th></tr></thead><tbody><tr><td class=" 
ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">29</span></td><td class=" 
ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">30</span></td><td class=" 
ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">31</span></td><td class=" 
ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">1</span></td><td class=" ui-datepicker-unselectable 
ui-state-disabled "><span class="ui-state-default">2</span></td><td class=" ui-datepicker-week-end ui-datepicker-unselectable 
ui-state-disabled "><span class="ui-state-default">3</span></td><td class=" ui-datepicker-week-end ui-datepicker-unselectable 
ui-state-disabled "><span class="ui-state-default">4</span></td></tr><tr><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">5</span></td><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">6</span></td><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">7</span></td><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">8</span></td><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">9</span></td><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">10</span></td><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">11</span></td></tr><tr><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">12</span></td><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">13</span></td><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">14</span></td><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">15</span></td><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">16</span></td><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">17</span></td><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">18</span></td></tr><tr><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">19</span></td><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">20</span></td><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">21</span></td><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">22</span></td><td class=" ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">23</span></td><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">24</span></td><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">25</span></td></tr><tr><td class=" ui-datepicker-days-cell-over ui-datepicker-current-day ui-datepicker-today" 
data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a class="ui-state-default ui-state-highlight ui-state-active 
ui-state-hover" href="#">26</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a 
class="ui-state-default" href="#">27</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a 
class="ui-state-default" href="#">28</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a 
class="ui-state-default" href="#">29</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a 
class="ui-state-default" href="#">30</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" 
data-month="7" data-year="2019"><a class="ui-state-default" href="#">31</a></td><td class=" ui-datepicker-week-end 
ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled "><span 
class="ui-state-default">1</span></td></tr></tbody></table></div></div>
