
<% content_for(:title, 'Dashboard') %>
<%= render "header" %>

<div class="main-content-area">
  <div class="main-content-container">
    <h3>Something something dark side!</h3>

    <br>

    <div>
      Hello,  <%= current_user.email %>
    </div>
  </div>
</div>

