@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');

:root {
    --warning-bg-color:#fcc;
    --header-height: 150px;
    --site-bg-start: #cfd9df;
    --site-bg-end: #e2ebf0;
    --tardis-blue: #003b6f;
}

html {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 14pt;
  background: var(--tardis-blue);
}

header {
  min-height: var(--header-height);
  background: #888;
}

footer {
  background: #444;
  min-height: 20px;
  display: flex;
  align-items: flex-start;
}

footer ul {
 flex-grow: 1;
}

.container {
  display:  grid;
  grid-template-columns: 1fr 300px 900px 1fr;  
  grid-template-rows: var(--header-height) 1fr 200px;  
  min-height: 100vh;
}

.header {
  grid-column: 1/5;
  grid-row: 1/2;
}

header {
  grid-column: 2/4;
  grid-row: 1/2;
}

nav {
  grid-column: 2/3;
  grid-row: 2/3;
}

main {
  grid-column: 3/4;
  grid-row: 2/3;

  background: #eee;
}

aside {
  grid-column: 1/2;
  grid-row: 2/3;
}

footer {
  grid-column: 2/4;
  grid-row: 3/4;
}

