/*
 * This is a manifest file for the tardis theme 
 * 
 *                                         -----/
 *= require 'normalize'
 *= require 'grid-support'
 *= require 'breakpoint-definitions'
 *= require 'messages'
 */

@import url(//fonts.googleapis.com/css?family=Open+Sans);

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
}

body {
}

body, h1, h2 {
  margin: 0;
  padding: 0;
}

main > h1, main > h2 {
  background: #009D81;
  margin-left: -1em;
  padding: 0.5em 1.5em;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  
}


@supports(display: grid) {
  .notice {
  display: none;
  }
}

h2 {
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}


.container {
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  height: 100vh;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
}

.side {
  display: none;
}

nav {
  display: none;
}

header {
  grid-area: header;
  justify-content: space-between;
  min-height: 100px;
  background: #f0b7a1;  
  background: linear-gradient(to bottom, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
}

nav, aside {
  background: #F2EAD3;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
}

main {
  grid-area: content;
  width: 100%;
  background: #F9F5F0;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
}

footer {
  background: #321313;
  grid-area: footer;
  color: white;
}

@media (max-width: 768px) {
  .container {
  grid-template-areas:
    "header"
    "nav"
    "content"
    "side"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(75px, auto) 1fr minmax(75px, auto) auto;
  }
  nav, aside {
  margin: 0;
  }
}

/* blog post */
.blog-post{
  display: grid;

  grid-template-columns: 4em 14em 1fr 1fr;
  grid-template-rows: 4em 12em 2em;
  margin-bottom: 2em;
}

.blog-post > h1 {
  color: #ffffcc;
  background-color: rgba(0,0,0,0.7);
  grid-column: 2/5;
  grid-row: 1/2;
  order: 2;
  font-weight: bold;
  padding: 0.4em;
}

.blog-post > .image {
  grid-column: 1/3;
  grid-row: 1/4;
  order: 1;
  overflow: hidden;
}

.blog-post > .date {
  position: relative;
  background-color: red;
  grid-column: 1/2;
  grid-row: 1/2;
  order: 2;
}

.blog-post > .teaser {
  background-color: yellow;
  grid-column: 3/5;
  grid-row: 2/3;
  padding: 0.5em;
}

.blog-post > .comments {
  background-color: blue;
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: right;
}

.blog-post > .comments > a {
  text-decoration: none;
}


.blog-post > .read {
  background-color: green;
  grid-column: 4/5;
  grid-row: 3/4;
  text-align: right;
}

.blog-post > .read > a {
  text-decoration: none;
}

