<div class="typography">
  <h1><%= @blog_post.title %></h1>

  <%= @blog_post.content %>
</div>

<%= render 'comments/comments', commentable: @blog_post %>
<%= render 'comments/comment_form', commentable: @blog_post, comment: @blog_post.comments.build %>
