:root {
  --breakpoint-tablet-portrait: 600px;
  --breakpoint-tablet-landscape: 900px;
  --breakpoint-small-desktop: 1200px;
  --breakpoint-large-desktop: 1800px;
}

/* Mobile first */
  .media-tablet-portrait, .media-tablet-landscape, .desktop-small, .desktop { display: none; }
  .media-phone { background: #ffc; display: block; }

/* Tablet portrait */
@media only screen and (min-width: var(--breakpoint-tablet-portrait)) {
  .media-phone, .media-tablet-landscape, .media-desktop-small, .media-desktop { display: none; }
  .media-tablet-portrait { background: #ffc; display: block; }
}

/* Tablet landscape */
@media only screen and (min-width: var(--breakpoint-tablet-landscape)) {
  .media-phone, .media-tablet-portrait, .desktop-small, .media-desktop { display: none; }
  .media-tablet-landscape { background: #ffc; display: block; }
}

/* Small desktop */
@media only screen and (min-width: var(--breakpoint-small-desktop)) {
  .media-phone, .media-tablet-portrait, .media-tablet-landscape, .media-desktop { display: none; }
  .media-desktop-small { background: #ffc; display: block; }
}

/* Large desktop */
@media only screen and (min-width: var(--breakpoint-large-desktop)) {
  .media-phone, .media-tablet-portrait, .media-tablet-landscape, .media-desktop-small{ display: none; }
  .media-desktop { background: #ffc; display: block; }

}
